<ng-container>
  <mat-card>
    <mat-card-title>
      Donate
    </mat-card-title>


    <p>Your contribution is what keeps us going. During the national lockdown,
      we are committed to bringing food to hungry children, many who relied desperately on their currently closed
      schools for their main daily meal. We are also preparing our school infrastructure projects to be
      operational as soon as lockdown restrictions allow. On behalf of the children, we thank you for your kindness and support
      during this dif ficult time.
    </p>
  </mat-card>

  <h2>How would you like to donate?</h2>

  <button mat-button>Card</button>

  <button mat-button>SnapScan</button>

  <button mat-button>Charites </button>

  <button mat-button>Card</button>

  <ng-content [ngTemplateOutlet]="card"></ng-content>

</ng-container>


<ng-template #card>
  <mat-card>
    <mat-card-title>Donate by card</mat-card-title>
  </mat-card>

</ng-template>