<h1>Breadline Africa</h1>

<button mat-button routerLink='/'>Home</button>

<button mat-button [matMenuTriggerFor]="whoweare" routerLink='/what-we-do'>What we do</button>
<mat-menu #whatwedo="matMenu" yPosition="below">
  <button mat-menu-item>Item 1</button>
  <button mat-menu-item>Item 2</button>
</mat-menu>

<button mat-button [matMenuTriggerFor]="whoweare" routerLink='/what-we-do'>Who we are</button>
<mat-menu #whoweare="matMenu" xPosition="before">
  <button mat-menu-item>Item 1</button>
  <button mat-menu-item>Item 2</button>
</mat-menu>

<button mat-button routerLink='/new-and-media'>News and media</button>
<mat-menu #afterMenu="matMenu" xPosition="after">
  <button mat-menu-item>Item 1</button>
  <button mat-menu-item>Item 2</button>
</mat-menu>

<button mat-button routerLink='/contact'>Contact</button>
<mat-menu #afterMenu="matMenu" xPosition="after">
  <button mat-menu-item>Item 1</button>
  <button mat-menu-item>Item 2</button>
</mat-menu>

<button mat-button routerLink='/get-involved'>Get involved</button>
<mat-menu #afterMenu="matMenu" xPosition="after">
  <button mat-menu-item>Item 1</button>
  <button mat-menu-item>Item 2</button>
</mat-menu>

<button mat-button color="warn" routerLink='/donate'>Donate</button>
<mat-menu #afterMenu="matMenu" xPosition="after">
  <button mat-menu-item>Item 1</button>
  <button mat-menu-item>Item 2</button>
</mat-menu>
<ng-container>
    <router-outlet></router-outlet>
</ng-container>