<!-- <mat-card *ngFor="let landingPage of landingPages">

    <h1>{{landingPage.Headline}}</h1>

    <p [innerHTML]="landingPage.body"></p>

    <img *ngIf="landingPage.headlinePicture" [src]="stripiUrl+landingPage.headlinePicture.url">
</mat-card> -->

